<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>INVALID</title>

    <link rel="stylesheet" href="{% static 'kdmail/css/materialize.css' %}">

    <link rel="stylesheet" href="{% static 'kdmail/css/materialize.min.css' %}">


    <link rel="stylesheet" href="{% static 'kdmail/js/materialize.min.js' %}">

    <link rel="stylesheet" href="{% static 'kdmail/js/materialize.js' %}">

</head>
<body>

<h2 class ="waves-light" style="background-color: lightseagreen; margin-left: 750px" >INVALID LOGIN</h2>

<a href="/getmail/login/">Try Again</a>
</body>
</html>