{#{% extends 'kdmail/base.html' %}#}

{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WELCOME</title>
    {##}
    <link rel="stylesheet" href="{% static 'kdmail/css/materialize.css' %}">

    <link rel="stylesheet" href="{% static 'kdmail/css/materialize.min.css' %}">


    <link rel="stylesheet" href="{% static 'kdmail/js/materialize.min.js' %}">

    <link rel="stylesheet" href="{% static 'kdmail/js/materialize.js' %}">
    {##}
    {#    <link rel="stylesheet" href="{% static 'kdmail/js/plugins/chartjs/chart.min.js' %}">#}
    <link rel="stylesheet" href="{% static 'kdmail/css/corousel_css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'kdmail/css/corousel_css/style4.css' %}">
    <script type="text/javascript" src="{% static 'kdmail/js/corousel_js/modernizr.custom.86080.js' %}"></script>

</head>
<body>

<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<nav style="background-color: darkslategrey">
    <div class="nav-wrapper">

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li style="margin-right: 1022px;font-family:Verdana;font-size: xx-large"><strong>MAJESTIC MAIL</strong></li>
            {#            {% if user.is_authenticated %}#}
            {##}
            {#                <li><a href="/getmail/add_ids/">UPDATE DETAILS</a></li>#}
            {#                <li><a href="/getmail/login/">LOGOUT</a></li>#}
            {#            {% else %}#}
            {#                <li><a href="/getmail/login/">Login</a></li>#}
            {#                <li><a href="/getmail/register/">Signup</a></li>#}
            {#        <li><a href="collapsible.html">JavaScript</a></li>#}
            {#            {% endif %}#}
        </ul>
    </div>
</nav>
<div>
    <ul class="cb-slideshow">

        <li><span>Image 02</span>

            <div><h3>No more Searching On Job Sites</h3></div>
        </li>
        <li><span>Image 03</span>

            <div><h3>Get Requirements On your Email</h3></div>
        </li>
        <li><span>Image 01</span>

            <div><h3>Just Update Only One Form</h3></div>
        </li>
        <li><span>Image 04</span>

            <div><h3>Get Statistics Of Technology wise requirements Daily</h3></div>
        </li>
        <li><span>Image 05</span>

            <div><h3>Analyse Market Trend on Web-development Projects </h3></div>
        </li>
        <li><span>Image 06</span>

            <div><h3>Track Marketers Performance</h3></div>
        </li>
    </ul>
</div>
<div class="container">
    {% if user.is_authenticated %}

        <header>

            <div class="row" style="margin-left: 100px;margin-top: 200px">
                <div class="col s12 m6">

                    <a class="waves-effect waves-light btn-large" href="/getmail/add_ids/">UPDATE DETAILS</a>
                </div>
                <div class="col s12 m6">
                    <a class="waves-effect waves-light btn-large" href="/getmail/logout/">LOGOUT</a>

                </div>
            </div>

            {% else %}
            <div class="row" style="margin-top: 200px">
                <div class="col s12 m6">
                    <a class="waves-effect waves-light btn-large" href="/getmail/login/">Login</a>
                </div>

                <div class="col s12 m6">
                    <li><a class="waves-effect waves-light btn-large" href="/getmail/register/">Signup</a></li>
                </div>
            </div>
        </header>

    {% endif %}


</div>
<p><strong><h1 style="color: #ffffff"></h1></strong></p>

<div>

    <div id="cool">


    </div>

</div>
</body>


<script type="text/javascript" src="{% static 'kdmail/js/plugins/chartjs/chart.min.js' %}"></script>

</html>